{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 120,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cn", "cva"],
  "overrides": [
    {
      "files": "apps/web/**",
      "options": {
        "tailwindStylesheet": "apps/web/src/app/styles/globals.css"
      }
    },
    {
      "files": "packages/ui/**",
      "options": {
        "tailwindStylesheet": "packages/ui/src/styles/globals.css"
      }
    }
  ]
}
