@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

html {
    overflow: auto;
    scrollbar-gutter: stable;
}

body {
    color: rgb(var(--foreground-rgb));
    background: var(--vp-c-bg);
}

.page-wrapper {
    padding-top: calc(var(--vp-nav-height) + 1rem);
}

.prose img {
    display: inline;
    margin: 0;
}

.prose a {
    text-decoration: none;
}

.prose hr {
    margin: 20px 0;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
