@import "ghmd.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --modrinth-brand: #00AF5C;
        --curseforge-brand: #F16436;
    }
    
    :root {
        --background: var(--vp-c-bg);
        --foreground: var(--vp-c-text-1);
        --card: var(--vp-c-bg-alt);
        --card-foreground: 240 10% 3.9%;
        --popover: var(--vp-c-bg-alt);
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: #3C3C43C6;
        --muted: var(--vp-c-bg-alt);
        --muted-foreground: var(--vp-c-text-2);
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: var(--vp-c-danger-3);
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --background: var(--vp-c-bg);
        --foreground: var(--vp-c-text-1);
        --card: var(--vp-c-bg-alt);
        --card-foreground: 0 0% 98%;
        --popover: var(--vp-c-bg-alt);
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: rgba(235, 235, 245, 0.74);
        --muted: var(--vp-c-bg-alt);
        --muted-foreground: var(--vp-c-text-2);
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: var(--vp-c-danger-3);
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: var(--vp-c-text-3);
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

html {
    overflow: auto;
    scrollbar-gutter: stable;
}

/*Prevent added margin when opening select*/
html body[data-scroll-locked] {
    margin-right: 0 !important;
}

.page-wrapper {
    padding-top: calc(var(--vp-nav-height) + 0.5rem);
    padding-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {
    .page-wrapper {
        padding-top: calc(var(--vp-nav-height) + 1rem);
    }
}

.prose :where(img):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    display: inline;
    margin: 0;
}

.prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    text-decoration: none;
}

.prose :where(hr):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin: 20px 0;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    .prose :where(h2,h3,h4,h5):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
        @apply !text-foreground !font-medium;
    }
    
    .slim-scrollbar {
        @apply scrollbar scrollbar-w-1 scrollbar-thumb-muted-foreground scrollbar-thumb-rounded;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.myItems *:not(:first-child):before {
    content: ' ';
    white-space: pre;
}

.myItems *:not(:last-child):after {
    content: ',';
}

.sharpRendering {
    image-rendering: optimizeSpeed;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}