name: Publish previewer to npm

on:
  push:
    branches: ['master']
    tags: ['v*']
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: pnpm

      # Ensure npm 11.5.1 or later for trusted publishing
      - run: npm install -g npm@latest

      - name: Install Dependencies
        run: pnpm i --frozen-lockfile

      - name: Generate Version and Build
        run: ./build-previewer.sh

      - name: Publish to npm
        working-directory: build/output
        run: pnpm publish --access public --provenance