name: Publish previewer to npm

on:
  push:
    branches: ['master']
    tags: ['v*']
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: pnpm

      - name: Install Dependencies
        run: pnpm i --frozen-lockfile

      - name: Generate Version and Build
        run: ./build-previewer.sh

      - name: Publish to npm
        working-directory: build/output
        run: |
          echo 'registry="https://registry.npmjs.org/"' > ./.npmrc
          npm publish --access public --provenance --no-git-checks --regsitry=https://registry.npmjs.org/ --userconfig=./.npmrc